.title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}
.login_form_greeting {
  padding-left: 30px;

  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 15px;
    font-size: 16px;
  }
  .label {
    font-size: 18px;
    margin-bottom: 3px;
  }
}
.button {
  @extend %reset-Button;
  font-size: 23px;
  padding: 20px 30px;
  background: gray;
  width: 100%;
  color: #fff;
  &:hover {
    background: black;
  }
}
.error{
  color:#f00;
}