

ul {
  display: block;
  overflow-y: auto;
}

li {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 30px auto;
  &:hover {
    background: #333;
    color: #fff;
  }

  .image {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 30px;
    }
  }
  .name {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}